p{
    font-family: Arial;
    margin-bottom: 0;
    margin-top: 0;
    color: rgb(100, 100, 100);
}
.email-text{
    font-size: 16px;
    margin-bottom: 5px;
}
.search-bar{
    width: 390px;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(100, 100, 100);
    margin-bottom: 15px;
}
.agreement-text{
    font-size: 16px;
    margin-bottom: 15px;
}
.agree-button{
    border: none;
    background-color: rgb(10, 102, 194);
    color: white;
    width: 400px;
    font-size: 20px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    cursor: pointer;
}
.agree-button:active{
    opacity: 0.6;
}