input {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(200, 200, 200);
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 16px;
    border-radius: 8px;
    margin-bottom: 12px;
}
.sign-up-first-name{
    width: 148px;
}
.sign-up-last-name{
    width: 148px;
}
.sign-up-email{
    display:block;
    width: 300px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 50px;
}
.sign-up-button{
    background-color: rgb(47, 127, 231);;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 154px;
    padding-left: 154px;
    margin-top: 15px;
    cursor: pointer;
}
.sign-up-button:active{
    opacity: 0.5;
}
p {
    font-family: Arial;
}
.request{
    margin-top: 60px;
    font-size: 27px;
    margin-bottom: 25px;
   
}
.pickup{
    display: block;
    background-color: rgb(230, 230, 230);
    color: gray;
    width: 300px;
    border: none;
    border-radius: 0;
}
.destination{
    display: block;
    background-color: rgb(230, 230, 230);
    color: gray;
    width: 300px;
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
}
.request-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 5px;
    cursor: pointer;
}
.schedule-button{
    background-color: rgb(230, 230, 230);
    border: none;
    border-radius: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}