p{
    font-family: Arial;
}
.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    align-items: center;
    column-gap: 20px;
}
.profile{
    margin-bottom: 0;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
}
.button{
    border: none;
    color: white;
    border-radius: 3px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 1px;
    margin-bottom: 6px;
    margin-left: 6px;
    background-color: rgb(29, 155, 240);
    cursor: pointer;
}
.button:active{
    opacity: 0.5;
}
.div{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    margin-right: 15px;
    width: 200px;
    vertical-align: top;
}
.name{
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 6px;
    font-weight: bold;
    font-size: 12px;
}
.mutual{
    font-size: 10px;
    color: rgb(100, 100, 100);
    margin-top: 0;
    margin-bottom: 6px;
    margin-left: 6px;
}