.uber-button{
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 110px;
    font-size: 12px;
    cursor: pointer;
    margin-left: 16px;
    cursor: pointer;
    transition: opacity 0.2s;
}
.uber-button:hover{
    opacity: 0.7;
}


.amazon-button {
    background-color: rgb(255, 216, 20);
    border: none;
    height: 30px;
    width: 160px;
    border-radius: 15px;
    font-weight: bold;
    margin-left: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.amazon-button:hover{
    background-color: rgb(218, 184, 19);
}


.github-button{
    background-color: rgb(46, 164, 79);
    color: white;
    border: none;
    height: 35px;
    width: 85px;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 16px;
    cursor: pointer;
    transition: box-shadow 0.2s;
}
.github-button:hover{
    box-shadow:  3px 3px 10px rgba(0, 0, 0, 0.15);
}


.bootstrap-button1{
    background-color: rgb(121, 82, 179);
    color: white;
    border: none;
    height: 38px;
    width: 113px;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.bootstrap-button1:hover{
    background-color: rgb(93, 60, 141);
}


.bootstrap-button2{
    background-color: white;
    color: rgb(108, 117, 125);
    border-color: rgb(108, 117, 125);
    border-width: 1px;
    border-style: solid;
    height: 38px;
    width: 113px;
    font-weight: bold;
    border-radius: 3px;
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.2s, 
    color 0.2s;
}
.bootstrap-button2:hover{
    background-color: rgb(108, 117, 125);
    color:white;
}


.linkedin-button1{
    background-color: rgb(10, 102, 194);
    color: white;
    border: none;
    border-radius: 17px;
    height: 35px;
    width: 218px;
    font-weight: bold;
    margin-left: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}
.linkedin-button1:hover{
    background-color: rgb(8, 78, 148);
}


.linkedin-button2{
    background-color: white;
    color: rgb(10, 102, 194);
    border-color: rgb(10, 102, 194);
    border-width: 1px;
    border-style: solid;
    border-radius: 17px;
    height: 35px;
    width: 80px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 8px;
    cursor: pointer;
    transition: border-width 0.2s, background-color 0.2s;
}
.linkedin-button2:hover{
    border-width: 2px;
    background-color: rgb(226, 240, 254)
}