.header{
    height: 55px;
    
    display: flex;

    flex-direction: row;

    justify-content: space-between;
}

.left-section{
    align-items: center;
    display: flex;    
}

.middle-section{
    flex: 1;
    background-color: lightpink;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right-section{
    width: 200px;
    background-color: lightblue;
}


.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
}
.search-bar{
    height: 40px;
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(1, 1, 1, 0.05);
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}

.search-icon{
    height: 25px;
    margin-top: 4px;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}