.header{
    height: 55px;
    
    display: flex;

    flex-direction: row;

    justify-content: space-between;
}

.left-section{
    align-items: center;
    display: flex;    
}

.middle-section{
    flex: 1;
    background-color: lightpink;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right-section{
    width: 200px;
    background-color: lightblue;
}

.search-button{
    height: 40px;
    width: 60px;

}

.voice-search-button{
    height: 40px;
    width: 40px;
}

.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}