.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
}

.left-section{
    align-items: center;
    display: flex;    
}

.middle-section{
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.right-section{
     flex-shrink: 0;
    display: flex;
    align-items: center;
    width: 180px;
    margin-right: 20px;
    justify-content: space-between;
}


.search-button{
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    position: relative;
    cursor: pointer;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container-container
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container-container .tooltip{
    font-family: Roboto, Arial;
    position: absolute;
    background-color: rgb(139, 139, 139);
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -40px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none;
    white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container-container:hover .tooltip{
    opacity: 1;
}

.search-bar{
    height: 40px;
    flex: 1;
    padding-left: 10px;
    font-size: 16px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(1, 1, 1, 0.05);
    width: 0;
}
.search-bar::placeholder{
    font-family: Roboto, Arial;
    font-size: 16px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}


.voice-search-icon{
    height: 24px;   
}

.search-icon{
    height: 25px;
}
.hamburger-menu{
    height: 24px;
    margin-left: 24px;
    margin-right: 20px;
}
.youtube-logo{
    height: 20px;
}

.upload-icon{
    height: 24px;
    cursor: pointer;
}

.youtube-apps-icon {
    height: 24px;
    cursor: pointer;
}

.notification-icon{
    height: 24px;
    cursor: pointer;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    font-weight: 500px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    border-radius: 10px;
    text-align: center;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
    cursor: pointer;
}